@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Not My House<br />
    Seriously Please Go Away<br />
    <abbr title="Phone">P:</abbr>
    911
</address>

<address>
    <strong>Support:</strong>   <a href="Jeff:jeffrey.balint@selu.edu">None at all</a><br />
    <strong>Marketing:</strong> <a href="Jeff:jeffrey.balint@selu.edu">Myself</a>
</address>